.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/**/
.pma-card-block{
  width:350px;
  margin-bottom: 80px;
}

.collection{
  border: 0px;
}

.collection-item{
  min-height: 70px;
  border: 0!important;
}

/**/
.dragAndDropArea{
  height: 200px;
  background-color: gray;
}

.galleryDragAndDropArea{
  height: 50px;
  background-color: gray;
}

.scrollWidth{
    width: auto;
    height:210px;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#scroller-wrapper {
    width: 100%;
}

#scroller {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.oneLine{
   display: inline-block;
   white-space: nowrap;
}

.no-depth-float {
    z-index: 0;
}

/* ---- */
textarea.materialize-textarea{
  min-height: 5px;
}

.card-action{
  margin-top: -50px;
  height: 70px;
}

.date-picto{
  margin-left: -10px;
  float: left;
  margin-top: 10px;
  font-size:1.5em;
  color:Tomato
}

.date-picto{
  margin-left: -10px;
  float: left;
  margin-top: 10px;
  font-size:1.5em;
}

.date-picto.start{
  color:Tomato;
}

.date-picto.end{
  color:Gray;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #FF5252 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #FF5252 !important;
}

.adder{
    background-color: red;
    color: blue;
    width: 200px;
}

.gallery-content {
  background-color: AliceBlue ;
  border-style: dashed;
  border-width: 1px;
  border-color: LightGray ;
}

.gallery_data{
  margin: 10px;
}

.card-image{
  margin-bottom: 20px;
  margin-top: -20px;
}

.big{
  font-size: 2.5em;
  color:Tomato;
}

.delete-button{
  width: 100%;
}

.pagination{
  margin: 0px;
  width: 100%;
}

.btn_add_minus{
  margin-left: -11px;
  margin-right: -58px;
  padding-left: 10px;
  padding-right: 10px;
}

.paginationumber{
}

.paginationBkg{
  background-color: LightSeaGreen;
}

.test{

}
