body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(21, 19, 56); /* bleu foncé*/
  height: 40px;
  padding-top: 10px;
  color: white;
}

#App-subheader {
  float: left;
  padding-left: 20px;
  margin-top: 0px;
  font-style: italic;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.page-footer{
   bottom:0;
   left:0;
   width:100%;
   background-color: rgb(21, 19, 30); /* bleu foncé*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/**/
.pma-card-block{
  width:350px;
  margin-bottom: 80px;
}

.collection{
  border: 0px;
}

.collection-item{
  min-height: 70px;
  border: 0!important;
}

/**/
#wrapped_home_selector{
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
}

/* ################# */
.center_selector{
  width: 140px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  border-style: solid;
  border-width: 1px;
}

#tesst_0{
  height: 80px;
  top: 130px;
}

#tesst_0:hover{
  background-color: rgba(255, 255, 0, 0.2);
}

#tesst_1{
  height: 70px;
  top: 210px;
}

#tesst_1:hover{
  background-color: rgba(0, 0, 255, 0.2);
}

#tesst_2{
  height: 40px;
  top: 270px;
}

#tesst_2:hover{
  background-color: rgba(255, 0, 0, 0.2);
}

/* ################# */

.hidden{
    visibility: hidden;
}

.dragAndDropArea{
  height: 200px;
  background-color: gray;
}

.galleryDragAndDropArea{
  height: 50px;
  background-color: gray;
}

.scrollWidth{
    width: auto;
    height:210px;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#scroller-wrapper {
    width: 95%;
    margin: auto;
}

#scroller {
    padding-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    overflow:hidden;
}

.timeLine_on{
  width: 100%;
  visibility: initial;
  margin-left: 0px;
}

.timeLine_off{
  width: 0px;
  margin-left: -2px;
  visibility: collapse;
}

.btn_adder{
  position: absolute;
  left: 20px;
}

.btn_adder > i{
  color: white;
  font-size: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.oneLine{
   display: inline-block;
   white-space: nowrap;
}

.no-depth-float {
    z-index: 0;
}

/* ---- */
textarea.materialize-textarea{
  min-height: 5px;
}

.card-action{
  margin-top: -50px;
  height: 70px;
}

.date-picto{
  margin-left: -10px;
  float: left;
  margin-top: 10px;
  font-size:1.5em;
  color:Tomato
}

.date-picto{
  margin-left: -10px;
  float: left;
  margin-top: 10px;
  font-size:1.5em;
}

.date-picto.start{
  color:Tomato;
}

.date-picto.end{
  color:Gray;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #FF5252 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #FF5252 !important;
}

.adder{
    background-color: red;
    color: blue;
    width: 200px;
}

/* sticky footer */
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

/* sticky footer end */

.btnaddgallery{
  background-color: white;
  width: 160px;
  height: 160px;
  position: relative;
  margin-top: -160px;
  margin-left: -350px;
}

.gallery-content {
  background-color: AliceBlue ;
  border-style: dashed;
  border-width: 1px;
  border-color: LightGray ;
}

.gallery_data{
  margin: 10px;
}

.card-image{
  margin-bottom: 20px;
  margin-top: -20px;
}

.big{
  font-size: 2.5em;
  color:Tomato;
}

.delete-button{
  width: 100%;
}

.pagination{
  margin: 0px;
  width: 100%;
}

.btn_add_minus{
  margin-left: -11px;
  margin-right: -58px;
  padding-left: 10px;
  padding-right: 10px;
}

.paginationumber{
}

.paginationBkg{
  background-color: LightSeaGreen;
}

.test{

}
