.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/**/
.pma-card-block{
  width:400px;
}

.collection{
  border: 0px;
}

.collection-item{
  min-height: 70px;
  border: 0!important;
}

/**/
.dragAndDropArea{
  height: 200px;
  background-color: gray;
}

.scrollWidth{
    width: auto;
    height:210px;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#scroller-wrapper {
    width: 100%;
}

#scroller {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.oneLine{
   display: inline-block;
   white-space:nowrap;
}
