<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Kiabi Pma Manager</title>
    </head>

    <body>
        <h1>Version 0.4.0</h1>
        <ul>
          <p><b>retourne tout les pma de la page home</b></p>
          <code>
            query pma {
              allPmaHome {
                title
                caption
                id
                dateStart
                dateEnd
              }
            }
          </code>
        </ul>
        <ul>
          <p><b>retourne toutes les galleries de la page home</b></p>
          <code>
            query gallery{
            allPmaGallery{
              title
              caption
              id
              dateStart
              dateEnd
            }
            }
          </code>
        </ul>
        <ul>
        <h2>Mutations</h2>
        <p><b>Teste si admin exist</b></p>
        <code>
          query adminXist {
            adminExist
          }
        </code>
        <p><b>Teste si user exist</b></p>
        <code>
          query userXist {
            userExist(user: {name: "user", password: "password"})
          }
        </code>
        <p><b>Créer admin/utilisateur</b></p>
        <code>
          mutation createUser {
            createUser(user: {name: "user", password: "password"}) {
              user {
                name
              }
            }
          }
        </code>

        <p><b>Créer une gallery</b></p>
        <code>
          mutation createGallery {
            mutatePmaGallery(user: {name: "user", password: "password"}, pmaData: {title: "new pma from js", caption: "lobulous", gallery: [{title: "Deux titre"}]}) {
              pma {
                title
                caption
                gallery {
                  title
                  caption
                }
              }
            }
          }
        </code>

        <p><b>Supprime une gallery</b></p>
        <code>
          mutation m {
            deletePmaGallery(user: {name: "user", password: "password"}, id: 4) {
              state
            }
          }
        </code>

        <p><b>modifie une page home</b></p>
        <code>
          mutation createGallery {
            mutatePmaGallery(user: {name: "user", password: "password"}, pmaData: {id: 1, title: "new pma from js", caption: "lobulous", gallery: [{title: "Deux titre"}]}) {
              pma {
                title
                caption
                gallery {
                  title
                  caption
                }
              }
            }
          }
        </code>
      </ul>
    </body>
</html>
